.product .MuiCardHeader-content  {
    position: relative;
    width: 100%;
}

.product .MuiCardHeader-title {
    font-size: 1rem !important;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.product.MuiPaper-elevation1 {
    background-color: var(--primary-color) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7) !important;
}

.product .MuiTypography-body2 {
    color: #fff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .MuiSvgIcon-root:nth-child(1), 
.product .MuiSvgIcon-root:nth-child(2) {
    fill: rgba(255, 255, 255, .6) !important;
}

.product .icon-shopping-cart:hover {
    /* box-shadow: 0 0px 10px rgba(255, 255, 255, .6); */
    transition: all ease .1s;
}

.product .icon-shopping-cart:active {
    box-shadow: 0 0px 2px rgba(255, 255, 255, .6);
    transition: all ease .2s;
}

.product .icon-shopping-cart .MuiSvgIcon-root {
    fill: #fff !important;
}

.product .MuiCardContent-root:last-child {
    /* background-color: var(--secondary-color); */
    background-color: var(--secondary-color);
}

.product .MuiTypography-body1:nth-child(1) {
    color: #373737;
}

.product .text-stock,
.product .text-no-stock,
.product .text-price {
    padding: 2px 6px;
    color: #fff;
    border-radius: 8px;
}

.product .text-stock {
    background-color: rgba(36, 226, 36, .4);
}

.product .text-no-stock {
    background-color: rgba(247, 0, 0, 0.552);
}

.product .text-price {
    background-color: var(--secondary-color-opacity);
    color: #fff;
    font-size: 18px;
    /* font-weight: bold; */
}

.product .MuiFormControl-root .MuiSelect-select {
    width: 50px !important;
    /*height: 10px !important;*/
    padding: 10px;
    background: #fff !important;
    border-radius: 6px !important;
    font-weight: bold;
    color: #373737;
}

.checkbox-collapse {
    margin-top:  20px;
    /*width: 100%;*/
    text-align: left;
}

.product .checkbox-collapse .MuiFormControl-root {
    width:  100%;
}

.product .checkbox-collapse .MuiFormControlLabel-labelPlacementEnd {
    margin: 0 auto;
    margin-bottom: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(0,0,0,.2);  
}

.product .checkbox-collapse div{
    font-weight: bold;
    color: rgba(255,255,255,.8);
}

/*.checkbox-collapse .active {
    background-color: var(--primary-color); 
}*/