.product .css-1qbkelo-MuiCardHeader-content  {
    position: relative;
    width: 100%;
}

.product .css-1qvr50w-MuiTypography-root {
    font-size: 1rem !important;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: var(--primary-color) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7) !important;
}

.product .css-nrdprl-MuiTypography-root {
    /* color: #fff !important; */
}

.product .css-r40f8v-MuiTypography-root {
    color: #fff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .css-r40f8v-MuiTypography-root > p {
}

.product .css-ahj2mt-MuiTypography-root {
    color: #373737;
}

.product .css-i4bv87-MuiSvgIcon-root {
    fill: rgba(255, 255, 255, .6) !important;
}

.product .icon-shopping-cart:hover {
    /* box-shadow: 0 0px 10px rgba(255, 255, 255, .6); */
    transition: all ease .1s;
}

.product .icon-shopping-cart:active {
    box-shadow: 0 0px 2px rgba(255, 255, 255, .6);
    transition: all ease .2s;
}

.product .icon-shopping-cart .css-i4bv87-MuiSvgIcon-root {
    fill: #fff !important;
}

.product .css-46bh2p-MuiCardContent-root:last-child {
    /* background-color: var(--secondary-color); */
    background-color: var(--secondary-color);
}

.product .css-ahj2mt-MuiTypography-root {
    color: #373737;
}

.product .text-stock,
.product .text-no-stock,
.product .text-price {
    padding: 2px 6px;
    color: #fff;
    border-radius: 8px;
}

.product .text-stock {
    background-color: rgba(36, 226, 36, .4);
}

.product .text-no-stock {
    background-color: rgba(247, 0, 0, 0.552);
}

.product .text-price {
    background-color: var(--secondary-color-opacity);
    color: #fff;
    font-size: 18px;
    /* font-weight: bold; */
}

.product .MuiFormControl-root .MuiInputBase-root input {
    width: 60px !important;
    height: 10px;
    background: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.checkbox-collapse {
    margin-top:  20px;
    /*width: 100%;*/
    text-align: left;
}

.checkbox-collapse .css-1nrlq1o-MuiFormControl-root{
    width:  100%;
}

.checkbox-collapse .css-j204z7-MuiFormControlLabel-root {
    margin: 0 auto;
    margin-bottom: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(0,0,0,.2);  
}

.checkbox-collapse div{
    font-weight: bold;
    color: rgba(255,255,255,.8);
}

/*.checkbox-collapse .active {
    background-color: var(--primary-color); 
}*/