.product {
    max-width: 330px;
}

.product .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #373737;
}

.product .container-image img {
    margin: 0 auto;
    position: relative;
    border-radius: 4px;
    border: 2px solid #373737;
    box-shadow: 0 4px 8px var(--background-orange);
    min-width: 60%;
    color: var(--background-orange);
    font-size: .9em;
    width: auto;
    height: 140px;
}

.product .MuiCardHeader-content  {
    position: relative;
    width: 100%;
}

.product .content-expand-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 4px;
}

.product .text-options {
    font-size: 14px;
    color: rgba(255, 255, 255, .6) !important;
    transform: rotate(0deg);
}

.product .text-options:active {
    transform: rotate(0deg);
}

.product .text-options.rotate {
    transform: rotate(180deg);
}

.product .icon-shopping-cart:active {
    box-shadow: 0 0px 2px rgba(255, 255, 255, .6);
    transition: all ease .2s;
}

.product .icon-shopping-cart {
    border-radius: 50%;
    min-width: 30px;
    width: 40px;
    height: 40px;
    fill: #d2d2d2;
    background: var(--background-green);
    margin-right: 8px;
    transition: all ease .2s;
}

.product .icon-shopping-cart:hover {
    background: var(--background-green);
    box-shadow: 0 0px 10px var(--background-green); 
    transition: all ease .2s;
}

.product .icon-shopping-cart svg {
    fill: #fff;
}

.product .icon-shopping-cart .MuiLoadingButton-loadingIndicator {
    color: #fff;
}

.product .MuiTypography-body1:nth-child(1) {
    color: #373737;
}

.product .text-stock,
.product .text-no-stock,
.product .text-price,
.product .text-bonus-product-price {
    padding: 2px 6px;
    color: #fff;
    border-radius: 8px;
}

.product .text-stock {
    background-color: rgba(36, 226, 36, .4);
}

.product .text-no-stock {
    background-color: rgba(247, 0, 0, 0.552);
}

.product .container-text-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    background: #373737;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0,0,0,.4);
}

.product .animation {
    animation-name: animation-shadow-color;
    animation-duration: 3s;
}

.product .text-price {
    background-color: #373737;
    color: var(--background-orange);
    font-size: 16px;
}

@keyframes animation-shadow-color {
    0% {
        box-shadow: 0 -13px 20px var(--background-orange);
    }
    100% {
        box-shadow: 0 0 8px rgba(0,0,0,.4);
    }
}

.product .MuiFormControl-root .MuiSelect-select {
    width: 50px !important;
    padding: 4px;
    background: #373737 !important;
    border-radius: 6px !important;
    color: #d2d2d2; 
    font-size: 12px;
    box-shadow: 0 0 4px var(--background-orange);
}

.product .MuiFormControl-root svg path {
    fill: var(--background-orange);
}

.product .expand-more-element {
    padding: 0;
}

.product .label-image {
    position: absolute;
    top: 70px;
    left: 8px;
    background-color: #373737;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px #373737;
}

.product .MuiOutlinedInput-notchedOutline,
.product .MuiOutlinedInput-root:hover {
    border-color: var(--background-orange) !important;
}