.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    background: #fff;
    padding: 2px 8px;
}

.upload-image {
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px dotted grey;
    transition: all ease .2s;
}

.upload-image:hover {
    transition: all ease .2s;
    border-color: rgb(176, 176, 176);
    rotate: 30deg;
}

.upload-image .MuiAvatar-root {
    width: 130px;
    height: 130px;
    margin: 8px;
}


/* 

.add-edit-form .MuiInputBase-root {
    width: 50% !important;
} */

.add-edit-form .MuiFormControl-root {
    width: 100% !important;
    margin-top: 6px !important;
}

.add-edit-form .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    display: flex !important;
    flex-direction: row !important;
    justify-content:  center !important;
    align-items: center;
    margin-top: 6px;
    /*height:  2px !important;*/
}

.add-edit-form__form__box {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1000px) {

    .add-edit-form {
        width: 90vw;
    }
}