.css-1qvr50w-MuiTypography-root {
    font-size: 1rem !important;
    color: #fff;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: #1976d2 !important;
}

.css-nrdprl-MuiTypography-root {
    color: rgba(255, 255, 255, .6) !important;
}

.css-r40f8v-MuiTypography-root {
    color: #fff !important;
}

.css-ahj2mt-MuiTypography-root {
    color: #fff;
}

.css-i4bv87-MuiSvgIcon-root {
    fill: rgba(255, 255, 255, .6) !important;
}

.css-1rwjz6-MuiCardActions-root {
    justify-content: flex-end;
}

.delete-icon:hover {
    box-shadow: 0 0px 10px rgba(255, 255, 255, .6);
    transition: all ease .1s;
}

.delete-icon:active {
    box-shadow: 0 0px 2px rgba(255, 255, 255, .6);
    transition: all ease .1s;
}

.delete-icon .css-i4bv87-MuiSvgIcon-root {
    fill: #fff !important;
}