.home {
	margin: 0 10px;
}

.home-alert-error {
	margin: 0 auto;
	width: max-content;
}

.home .MuiGrid-container {
	justify-content: center;
}

.home section {
	margin: 20px 0;
}

.home > section {
	margin-top: 0px;
}

.home section .category-title {
	margin-bottom: 20px;
	background-color: var(--background-orange);
	color: #373737;
	font-weight: bold;
	border-radius: 8px;
	box-shadow:  0 8px 8px rgba(37,37,37,.9);
}

@media (max-width: 600px) {
	.home section .category-title {
		font-size: 28px;
	}
}

@media (max-width: 360px) {
	.home section .category-title {
		font-size: 28px;
	}
}