
.container-form-confirm {
	width: 100%;
	min-height: 100vh;
}

.form-confirm {
	width: 480px;
	margin: 0 auto;
	position: relative;
}

.form-confirm__grid {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-confirm__grid .MuiFormControl-root {
	width: 100%;
}

.form-confirm__grid__form-options {
	margin-top: 10px;
	padding: 4px 10px;
	border-radius: 4px;
	background: var(--primary-color);
	color: #e2e2e2;
	box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

.form-confirm__grid .MuiFormLabel-root {
	color: var(--background-orange-dark);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-confirm__grid .MuiFormLabel-root.Mui-focused {
	color: white;
}

.form-confirm__grid .MuiRadio-root span svg {
	fill: #e2e2e2;
}

.form-confirm__grid .MuiGrid-item {
	margin-bottom: 20px;
}

.form-confirm__grid .MuiGrid-item,
.form-confirm__grid .MuiFormLabel-root {
	width: 100% !important;
}

.form-confirm__grid__form-options .MuiOutlinedInput-root {
	color: #e2e2e2;
}

.form-confirm__grid__form-options .MuiOutlinedInput-notchedOutline {
	border-color: #e2e2e2;
}

.form-confirm__grid__form-options .MuiOutlinedInput-notchedOutline,
.form-confirm__grid__form-options .MuiOutlinedInput-root:hover {
	border-color: #e2e2e2 !important;
}

.form-confirm__grid .btn-submit {
	margin-top: 10px;
}

.form-confirm h6 {
	color: #e2e2e2 !important;
}

.form-confirm  p {
	color: #999;
}

.form-confirm .form-confirm__grid__out  .MuiOutlinedInput-root {
	color: #e2e2e2;
}

.form-confirm .form-confirm__grid__out .MuiOutlinedInput-notchedOutline {
	border-top-color: var(--background-orange) !important;
	border-right-color: var(--background-orange) !important;
	border-bottom-color: var(--background-orange) !important;
	border-left-color: var(--background-orange) !important;
}

@media (max-width: 600px) {
	.form-confirm {
		width: 90%;
	}

	.form-confirm label,
	.form-confirm span {
		font-size: 14px;
	}

	.form-confirm h6 {
		font-size: 16px;
	}
}