.login-form .MuiFormControl-root.MuiTextField-root {
    width: 440px !important;
    margin-top: 20px !important;
}

.login-form {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.login-form button {
    margin-top: 20px !important;
    /* background-color: #e17941; */
}

.login-form__parraf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form__parraf-a {
    display: inline-block;
    color: royalblue;
    cursor: pointer;
}

.login-form__form {
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: column;
}