.btn-in-and-out {
    width: 168px;
}

.btn-product-and-bonus {
    background: var(--primary-color-dark) !important;
    margin: 6px !important;
}

.btn-product-and-bonus:hover {
    background: var(--primary-color-light) !important;
    /* color: #373737 !important */
}