.css-hyum1k-MuiToolbar-root {
    background-color: var(--primary-color) !important;
}

.btn-in-and-out {
    width: 168px;
}

.btn-product-and-bonus {
    background: var(--btns-navbar) !important;
    margin: 6px !important;
}

.btn-product-and-bonus:hover {
    background: var(--btns-navbar-hover) !important;
    /* color: #373737 !important */
}